/basiccpp/Debug/*.*
/basiccpp/.vs/basiccpp/v15/.suo
/basiccpp/.vs/*
/.vs/*.*
/basiccpp/x64/Debug
/basiccpp/basiccpp.sln.DotSettings.user
/basicTest/Debug/*
/basiccpp/TestResults/*
/basicTest/x64/Debug
